.mainNav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
    .navBrand {
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        text-decoration: none;
        white-space: nowrap;
        color: #fff;
    }
}

.tableHeader{
    overflow: auto;
}

.parent{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .child{
        // width: 15%;
        display: flex;
        justify-content: space-between;
        margin-right: 10px;
        flex-wrap: wrap;
        
        label{
            min-width: 100px;
            padding: 0;
            font-size: 12px;
        }
        input{
            max-width: 100px;
            height: 24px;
            padding: 1px;
        }
        &:nth-child(3){
            label{
                min-width: 40px;
                padding: 0;
            }
        }
    }
}
.mb5{
    margin-bottom: 5px;
}
.logotxt{
    text-align: center;
    font-size: 30px;
    text-transform: lowercase;
    font-family: fantasy;
}
.userNmae{
    padding: 0 10px;
    span{
        padding-right: 5px;
        border-right: 2px solid #FFF;
        margin-right: 5px;
    }
    a{
        color: #FFF;
        &:hover{
            color: #FFF;
        }
    }
}
.signedout{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: ease-in-out 0.5s;
    text-align: center;
    z-index: 99;
    animation: fade 2s linear;
    span{
        height: 100%;
        color: #f00;
        font-weight: 500;
        font-size: 14px;
        display: flex;
        align-items: center;
        z-index: 999;
        justify-content: center;
    }
}

@media screen and (max-width: 941px) {
    .userHeading{
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .filterDiv{
        margin-top: 45px;
        .container{
            width: 100%;
            max-width: 100%;
        }
    }
    .parent{
        .child{
            margin-right: 0;
        }
    }

}

@media screen and (max-width: 781px) {
    .parent{
        .child{
            label{
                min-width: 67px;
                font-size: 12px;
            }
            &:nth-child(3){
                label{
                    min-width: 35px;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .logotxt{
        font-size: 20px;
        position: relative;
        padding-right: 20px;
        &::after{
            display: inline-block;
            margin-left: .255em;
            vertical-align: .255em;
            content: "";
            border-top: .3em solid;
            border-right: .3em solid transparent;
            border-bottom: 0;
            border-left: .3em solid transparent;
            position: absolute;
            right: 0px;
            top: 50%;

        }
    }
    .parent{
        .child{
            label{
                min-width: 67px;
                font-size: 12px;
            }
            &:nth-child(3){
                label{
                    min-width: 35px;
                }
            }
            margin: 0 5px 5px 0;
        }
    }
    
    .filterDiv{
        margin-top: 45px;
        width: 100%;
        .container{
            width: 100%;
            max-width: 100%;
        }
    }
    .custrow, .parent{
        width: 100%;
        display: flex;
        // flex-wrap: nowrap;
    }
    .userHeading{
        &:hover{
            .userNmae{
                display: flex;
            }
        }
        .userNmae{
            padding: 10px;
            background-color: #aaaaaa;
            display: none;
            flex-direction: column;
            position: absolute;
            top: 30px;
            right: 0px;
            span{
                border-right: none;
                margin-right: 0;
                padding-right: 0;
                cursor: pointer;
                &:hover{
                    color: #000;
                }
            }
            a{
                color: #FFF;
                &:hover{
                    color: #000;
                }
            }
        }
    }
}

@media screen and (max-width: 720px) {
    .parent{
        .child{
            input{
                max-width: 90px;
            }
            margin: 0 5px 5px 0;
        }
    }
}

@media screen and (max-width: 661px) {
    .parent{
        .child{
            input{
                max-width: 70px;
            }
            margin: 0 5px 5px 0;
        }
    }
}

@media screen and (max-width: 580px) {
    .parent{
        .child{
            width: 48%;
            display: flex;
            flex-wrap: nowrap;
        }
    }
    .filterDiv{
        margin-top: 25px;
        width: 100%;
    }  
    
}