<nav class="mainNav bag-dark di-flex flex-nowrap justifyContentBetween">
    <div class="di-flex flex-dir-column textLight">
        <div class="di-flex align-items-start">
            <div>
                <a class="navBrand" href="javascript:;"><b>FermWeb<sup>v 5.0</sup></b></a>
            </div>
            <div class="filterDiv">
                <div class="container">
                    <div class="custrow">
                        <div class="">
                            <div class="parent mb5">
                                <div class="child">
                                    <label for="Order" class="textLight col-form-label">Order#</label>
                                    <input class="" type="text" name="" id="Order">
                                </div>
                                <div class="child">
                                    <label for="Purification" class="textLight">Purification#</label>
                                    <input class="" type="text" name="" id="Purification">
                                </div>
                                <div class="child">
                                    <label for="dash" class="textLight">D#</label>
                                    <input class="" type="text" name="" id="dash">
                                </div>
                                <div class="child">
                                    <label for="prdc" class="textLight">PR-/DC-#</label>
                                    <input class="" type="text" name="" id="prdc">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custrow">
                        <div class="">
                            <div class="parent">
                                <div class="child">
                                    <label for="staticEmail" class="textLight">Ferment#</label>
                                    <input class="" type="text" name="" id="">
                                </div>
                                <div class="child">
                                    <label for="staticEmail" class="textLight">Sample#</label>
                                    <input class="" type="text" name="" id="">
                                </div>
                                <div class="child">
                                    <label for="staticEmail" class="textLight">V#</label>
                                    <input class="" type="text" name="" id="">
                                </div>
                                <div class="child">
                                    <label for="staticEmail" class="textLight">Lot#</label>
                                    <input class="" type="text" name="" id="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="di-flex flex-dir-column textLight userHeading">
        <div class="logotxt">Abbvie</div>
        <div class="userNmae">Username | <a href="javascript:;" (click)="signout()">Signout</a></div>
    </div>
</nav>

<div class="signedout" *ngIf="signedout">
    <span>Your successfully signed out</span>
</div>