* {
    box-sizing: border-box;
  }
  
  .bg-img {
    /* The image used */
    background: #dfe1e0;  
    min-height: 380px;  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    height: 100vh;
    align-items: center;
  }
  
  /* Add styles to the form container */
  .container {
    max-width: 300px;
    padding: 16px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 5px #000;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 8px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  .errorText{
    color: red;
    font-size: 14px;
    padding: 5px 0;
    display: block;
    text-align: center;
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }