.sub-dropdownMenu, .sub-sub-dropdownMenu, .dropdownMenu, .dropdownMenu .dropdownMenu{
    display: none;
}
.dropdown-divider{
    margin: 0;
}
.dropdown-header{
    margin: 0;
    padding: 8px;
    background-color: #aaaaaa !important;
}
.nav-link{
    &::after{
        display: inline-block;
        margin-left: .255em;
        vertical-align: .255em;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;
        position: absolute;
        right: 5px;
        top: 50%;
    }
}
.dropdown-submenu{
    &::after{
        display: inline-block;
        margin-left: .255em;
        vertical-align: .255em;
        content: "";
        border-left: .3em solid;
        border-top: .3em solid transparent;
        border-right: 0;
        border-bottom: .3em solid transparent;
        position: absolute;
        right: 5px;
        top: 40%;
    }
}
.multiDropDown{
    padding-left: 10px;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #FFF;
    background-color: #000;
}
.custnavBar{
    padding: 0;
    background-color: #aaaaaa !important;
    .multiDropDown{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        .nav-item{
            padding: 5px;
            position: relative;
            border-left: 2px solid #fff;
            &:hover{
                background-color: #000;
                .dropdownMenu{
                    position: absolute;
                    display: block;
                    width: 200px;
                    bottom: 0;
                    left: 0;
                    top: 100%;
                    background-color: #aaaaaa !important;
                    height: 100%;
                    padding: 0;
                    border: none;
                    z-index: 5;
                    list-style: none;
                    li{
                        background-color: #aaaaaa !important;
                        position: relative;
                        a{
                            text-overflow: ellipsis;
                            overflow: hidden;
                            display: block;
                            width: 200px;
                            white-space: nowrap;
                            font-size: 12px;
                            color: #FFF;
                            &:active{
                                background-color: #e9ecef;
                            }
                        }
                        &:hover{
                            &::after{
                                border-top: .3em solid #fff;
                                border-right: .3em solid transparent;
                                border-bottom: 0;
                                border-left: .3em solid transparent;
                            }
                            .sub-dropdownMenu{
                                display: block;
                                position: absolute;
                                display: block;
                                width: 200px;
                                left: 100%;
                                top: 0%;
                                background-color: #aaaaaa !important;
                                height: 100%;
                                padding: 0;
                                border: none;
                                z-index: 5;
                                list-style: none;
                                li{
                                    position: relative;
                                    &:hover{
                                        &::after{
                                            border-top: .3em solid #fff;
                                            border-right: .3em solid transparent;
                                            border-bottom: 0;
                                            border-left: .3em solid transparent;
                                        }
                                        .sub-sub-dropdownMenu{
                                            display: block;
                                            position: absolute;
                                            display: block;
                                            width: 200px;
                                            left: 100%;
                                            top: 0%;
                                            background-color: #aaaaaa !important;
                                            height: 100%;
                                            padding: 0;
                                            border: none;
                                            z-index: 5;
                                            list-style: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .nav-link{
                color: #FFF;
                padding: 0;
                padding: 0 5px;
                font-size: 12px;
                color: #fff;
                padding-right: 20px;
            }
        }
    }
}
.menuIcon{
    display: none;
}


@media screen  and (max-width: 720px){
    .custnavBar{
        padding: 5px;
        .menuIcon{
            display: flex;
            justify-content: space-between;
            div{
                display: flex;
                flex-direction: column;
                .danger{
                    display: none;
                }
                span{
                    width: 30px;
                    height: 4px;
                    background-color: black;
                    margin: 2px 0;
                }
            }
            
        }
        .multiDropDown{
            display: flex;
            flex-direction: column;
            .nav-item{
                border-left: 0;
                border-bottom: 2px solid #fff;
                &:hover {
                    .dropdownMenu{
                        width: 100%;
                        li{
                            a{
                                width: 100%;
                            }
                            &:hover {
                                .sub-dropdownMenu{
                                    left: 10%;
                                    width: 90%;
                                    box-shadow: 0 0 5px #000;
                                    li{
                                        &:hover{
                                            .sub-sub-dropdownMenu{
                                                left: 15%;
                                                width: 85%;
                                                box-shadow: 0 0 5px #000;
                                            }                                    
                                        }
                                    }                                  
    
                                }
                            }
                        }
                    }
                        
                }
            }
        }
        .multiDropDown.danger{
            display: none;
        }
    }
    
    
    
}