<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"> Data Capture </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Ferment</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">New...</a></li>
                            <li><a class="dropdown-item" href="#">Edit...</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Virus
                            Preparation</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">New...</a></li>
                            <li><a class="dropdown-item" href="#">Edit...</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">DNA
                            Preparation</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">New...</a></li>
                            <li><a class="dropdown-item" href="#">Edit...</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Gel</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">New...</a></li>
                            <li><a class="dropdown-item" href="#">Edit...</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Western</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">New...</a></li>
                            <li><a class="dropdown-item" href="#">Edit...</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Clone</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">New...</a></li>
                            <li><a class="dropdown-item" href="#">Edit...</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Cell Line</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">New...</a></li>
                            <li><a class="dropdown-item" href="#">Edit...</a></li>
                        </ul>
                    </li>
                    <li><a class="dropdown-item" href="#">Stock
                            Inventory</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"> Maintenance </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <h6 class="dropdown-header">Gels/Westerns</h6>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#"></a>Media
                    </li>
                    <li><a class="dropdown-item" href="#"></a>Microbial Growth
                    </li>
                    <li><a class="dropdown-item" href="#"></a>Insect/Mammalian
                    </li>
                    <li><a class="dropdown-item" href="#"></a>Clones
                    </li>
                    <li><a class="dropdown-item" href="#"></a>General
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"> Reports </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Active Runs</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">All</a></li>
                            <li><a class="dropdown-item" href="#">Microbial</a></li>
                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle"
                                    href="#">Insect/Mammalian</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">All Groups</a></li>
                                    <li><a class="dropdown-item" href="#">GPS-LC: Biologics</a></li>
                                    <li><a class="dropdown-item" href="#">GPS-LC: Small-molecule</a></li>
                                    <li><a class="dropdown-item" href="#">GPS-ABC: Biologics</a></li>
                                    <li><a class="dropdown-item" href="#">BDB: Biologics</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="#">My Ferments</a></li>
                            <li><a class="dropdown-item" href="#">Intended Use</a></li>
                        </ul>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#"></a>Fermentation
                    </li>
                    <li><a class="dropdown-item" href="#"></a>Clone
                    </li>
                    <li><a class="dropdown-item" href="#"></a>Gel/Western
                    </li>
                    <li><a class="dropdown-item" href="#"></a>Paste Inventory
                    </li>
                    <li><a class="dropdown-item" href="#"></a>Media Recipe
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#"></a>DNA Preparation</li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#"></a>Virus</li>
                    <li><a class="dropdown-item" href="#"></a>Virus Preparation</li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#"></a>Cell Line</li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"> Other Applications </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="#"></a>Administration</li>
                    <li><a class="dropdown-item" href="#"></a>Biopolymer Calculator</li>
                    <li><a class="dropdown-item" href="#"></a>BioELN Finder</li>
                    <li><a class="dropdown-item" href="#"></a>BRS(Biologics Request System)</li>
                    <li><a class="dropdown-item" href="#"></a>ChemInvWeb</li>
                    <li><a class="dropdown-item" href="#"></a>eCOT Creator</li>
                    <li><a class="dropdown-item" href="#"></a>eCOT Viewer</li>
                    <li><a class="dropdown-item" href="#"></a>FermWeb</li>
                    <li><a class="dropdown-item" href="#"></a>GBRS</li>
                    <li><a class="dropdown-item" href="#"></a>GP-Pharmacy</li>
                    <li><a class="dropdown-item" href="#"></a>Peptide Synthesis</li>
                    <li><a class="dropdown-item" href="#"></a>PortCharWeb</li>
                    <li><a class="dropdown-item" href="#"></a>PortPureWeb</li>
                    <li><a class="dropdown-item" href="#"></a>ProteinWeb</li>
                    <li><a class="dropdown-item" href="#"></a>Structural Chemistry</li>
                    <li><a class="dropdown-item" href="#"></a>VectorWeb</li>
                    <li><a class="dropdown-item" href="#"></a>VirusWeb</li>
                </ul>
            </li>
        </ul>
    </div>
</nav>