<div class="custnavBar">
    <div class="">
        <ul class="multiDropDown">
            <li class="nav-item dropdown">
                <a class="nav-link " href="javascript:;" id="navbarDropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Data Capture </a>
                <ul class="dropdownMenu" aria-labelledby="navbarDropdownMenuLink">
                    <li class="dropdown-submenu"><a class="dropdown-item "
                            href="javascript:;">Ferment</a>
                        <ul class="sub-dropdownMenu">
                            <li><a class="dropdown-item" href="javascript:;">New...</a></li>
                            <li><a class="dropdown-item" href="javascript:;">Edit...</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu"><a class="dropdown-item " href="javascript:;">Virus
                            Preparation</a>
                        <ul class="sub-dropdownMenu">
                            <li><a class="dropdown-item" href="javascript:;">New...</a></li>
                            <li><a class="dropdown-item" href="javascript:;">Edit...</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu"><a class="dropdown-item " href="javascript:;">DNA
                            Preparation</a>
                        <ul class="sub-dropdownMenu">
                            <li><a class="dropdown-item" href="javascript:;">New...</a></li>
                            <li><a class="dropdown-item" href="javascript:;">Edit...</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu"><a class="dropdown-item " href="javascript:;">Gel</a>
                        <ul class="sub-dropdownMenu">
                            <li><a class="dropdown-item" href="javascript:;">New...</a></li>
                            <li><a class="dropdown-item" href="javascript:;">Edit...</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu"><a class="dropdown-item "
                            href="javascript:;">Western</a>
                        <ul class="sub-dropdownMenu">
                            <li><a class="dropdown-item" href="javascript:;">New...</a></li>
                            <li><a class="dropdown-item" href="javascript:;">Edit...</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu"><a class="dropdown-item " href="javascript:;">Clone</a>
                        <ul class="sub-dropdownMenu">
                            <li><a class="dropdown-item" href="javascript:;">New...</a></li>
                            <li><a class="dropdown-item" href="javascript:;">Edit...</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu"><a class="dropdown-item " href="javascript:;">Cell
                            Line</a>
                        <ul class="sub-dropdownMenu">
                            <li><a class="dropdown-item" href="javascript:;">New...</a></li>
                            <li><a class="dropdown-item" href="javascript:;">Edit...</a></li>
                        </ul>
                    </li>
                    <li><a class="dropdown-item" href="javascript:;">Stock
                            Inventory</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link " href="javascript:;" id="navbarDropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Maintenance </a>
                <ul class="dropdownMenu" aria-labelledby="navbarDropdownMenuLink">
                    <h6 class="dropdown-header">Gels/Westerns</h6>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="javascript:;">Media</a>
                    </li>
                    <li><a class="dropdown-item" href="javascript:;">Microbial Growth</a>
                    </li>
                    <li><a class="dropdown-item" href="javascript:;">Insect/Mammalian</a>
                    </li>
                    <li><a class="dropdown-item" href="javascript:;">Clones</a>
                    </li>
                    <li><a class="dropdown-item" href="javascript:;">General</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link " href="javascript:;" id="navbarDropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Reports </a>
                <ul class="dropdownMenu" aria-labelledby="navbarDropdownMenuLink">
                    <li class="dropdown-submenu"><a class="dropdown-item " href="javascript:;">Active
                            Runs</a>
                        <ul class="sub-dropdownMenu">
                            <li><a class="dropdown-item" href="javascript:;">All</a></li>
                            <li><a class="dropdown-item" href="javascript:;">Microbial</a></li>
                            <li class="dropdown-submenu"><a class="dropdown-item "
                                    href="javascript:;">Insect/Mammalian</a>
                                <ul class="sub-sub-dropdownMenu">
                                    <li><a class="dropdown-item" href="javascript:;">All Groups</a></li>
                                    <li><a class="dropdown-item" href="javascript:;">GPS-LC: Biologics</a></li>
                                    <li><a class="dropdown-item" href="javascript:;">GPS-LC: Small-molecule</a></li>
                                    <li><a class="dropdown-item" href="javascript:;">GPS-ABC: Biologics</a></li>
                                    <li><a class="dropdown-item" href="javascript:;">BDB: Biologics</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="javascript:;">My Ferments</a></li>
                            <li><a class="dropdown-item" href="javascript:;">Intended Use</a></li>
                        </ul>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="javascript:;">Fermentation</a>
                    </li>
                    <li><a class="dropdown-item" href="javascript:;">Clone</a></li>
                    <li><a class="dropdown-item" href="javascript:;">Gel/Western</a>
                    </li>
                    <li><a class="dropdown-item" href="javascript:;">Paste Inventory</a>
                    </li>
                    <li><a class="dropdown-item" href="javascript:;">Media Recipe</a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="javascript:;">DNA Preparation</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="javascript:;">Virus</a></li>
                    <li><a class="dropdown-item" href="javascript:;">Virus Preparation</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="javascript:;">Cell Line</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link " href="javascript:;" id="navbarDropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Other Applications </a>
                <ul class="dropdownMenu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="javascript:;">Administration</a></li>
                    <li><a class="dropdown-item" href="javascript:;">Biopolymer Calculator</a></li>
                    <li><a class="dropdown-item" href="javascript:;">BioELN Finder</a></li>
                    <li><a class="dropdown-item" href="javascript:;">BRS(Biologics Request System)</a></li>
                    <li><a class="dropdown-item" href="javascript:;">ChemInvWeb</a></li>
                    <li><a class="dropdown-item" href="javascript:;">eCOT Creator</a></li>
                    <li><a class="dropdown-item" href="javascript:;">eCOT Viewer</a></li>
                    <li><a class="dropdown-item" href="javascript:;">FermWeb</a></li>
                    <li><a class="dropdown-item" href="javascript:;">GBRS</a></li>
                    <li><a class="dropdown-item" href="javascript:;">GP-Pharmacy</a></li>
                    <li><a class="dropdown-item" href="javascript:;">Peptide Synthesis</a></li>
                    <li><a class="dropdown-item" href="javascript:;">PortCharWeb</a></li>
                    <li><a class="dropdown-item" href="javascript:;">PortPureWeb</a></li>
                    <li><a class="dropdown-item" href="javascript:;">ProteinWeb</a></li>
                    <li><a class="dropdown-item" href="javascript:;">Structural Chemistry</a></li>
                    <li><a class="dropdown-item" href="javascript:;">VectorWeb</a></li>
                    <li><a class="dropdown-item" href="javascript:;">VirusWeb</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>