/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";


.bag-dark {
    background-color: #212529!important;
}
.di-flex {
    display: flex!important;
    flex-wrap: wrap;
}
.flex-dir-column {
    flex-direction: column!important;
}
.textLight {
    color: #f8f9fa!important;
}
.justifyContentBetween {
    justify-content: space-between!important;
}
.container{
    width: 100%;
}
.align-items-start {
    align-items: flex-start!important;
}
.custrow{
    display: flex;
    flex-wrap: nowrap;
    flex-wrap: wrap;
}
.justify-contentEnd{
    justify-content: flex-end;
}